{% extends 'layouts/layout.html'%}
{% block body %}

<script type="text/javascript">
    /*
    $(document).ready(function() {
      $('#show_forecasts').click( function(e) {
        e.preventDefault();
        $.ajax({
          dataType: "json",
          url: "{{ url_for('users.predict')}}",
          success: function(result) {
            $("#forecasts").append(JSON.stringify(result))
            alert('ok');
          },
          error: function(result) {
            alert('error');
          }
        });
      });
    });*/
</script>  

 <div class="jumbotron text-center">
  <h1> Temperature Forecasting API</h1>
  <p class="lead">A free to use temperature forecasting API based on a Deep Learning models that forecasts temperature for the next hours and also for the next 24 hours </p>
  <button name="show_forecasts" id="show" onclick="request_forecasts()">Show today's forecasts</button>
  

  
  <div class="forecasts" name="forecasts" id="forecasts">
         
  </div>
 </div>     

<script>
    function request_forecasts(){
       $.ajax({
        type:'GET',
        url :"{{ url_for('users.predict') }}",
        success: function(data) {
                console.log('success',data.temperature);
                alert('Temperature :'+data.temperature+"on "+data.date_hour);
                $("#show").hide()
                var date = new Date();
                var element = "<div>la temperature actuellement est "+d.getHours()+":"+d.getMinutes()+data.temperature+" C°</div>"
                $("#forecasts").append(element)
                //$("#forecasts").css("display", "none");
                //$("#forecasts").show(); //toggle("slide")
                },
        error:  function(exception){
            alert('Exeption:'+exception);
            }
        }); 
        e.preventDefault();
    }
</script> 
{% endblock%}